@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Poppins:wght@200;400&family=Space+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.logo {
    color: #6070FF;
    font-weight: 700;
    font-size: 18px;
}

.main-section {
    background-image: url('images/Ellipse\ 11.svg'), url('images/Ellipse\ 5.svg'), url('images/Rectangle\ 7.svg'), url('images/Rectangle\ 4.svg'), url('images/Ellipse\ 3.svg'), url('images/Ellipse\ 12.svg'), url('images/Ellipse\ 13.svg'), url('images/Ellipse\ 4.svg');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left 8%, 47% 16%, 49% 14.5%, right top, 100% 8%, 90% 85%, 90% 89%, 79% 100%;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
}
/* Reusable Classes*/
.headerColor {
    color: #172B4D;
}

.pageMargin {
    margin: 0 24px;
}

.parColor {
    color:#344563
}
.heading-1 {
    
    margin-top: 96px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;  
}

.subtiite {
    margin-top: 12px;
    color: #7F8CFF;
    font-size: 16px;
    margin-bottom: 12px;

}

.icons {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

.icons li {
    margin-right: 20px;
    color: #505F79;
    height: 50px;
}

